@import "tailwindcss";

@font-face {
  font-family: DM Sans;
  src: url('assets/fonts/DM_Sans/DMSans-VariableFont_opsz,wght.ttf');
}

@font-face {
  font-family: Bricolage Grotesque;
  src: url('assets/fonts/Bricolage_Grotesque/BricolageGrotesque-VariableFont_opsz,wdth,wght.ttf');
}

:root {
  font-family: DM Sans, sans-serif;
  background-color: var(--color-neutral-900);
  color: var(--color-neutral-000);
}

@theme {
  --color-neutral-900: hsl(243, 96%, 9%);
  --color-neutral-800: hsl(243, 27%, 20%);
  --color-neutral-700: hsl(243, 23%, 24%);
  --color-neutral-600: hsl(243, 23%, 30%);
  --color-neutral-300: hsl(240, 6%, 70%);
  --color-neutral-200: hsl(250, 6%, 84%);
  --color-neutral-000: hsl(0, 0%, 100%);
  --color-neutral-000-opaque: hsla(0, 0%, 100%, 0.2);

  --color-orange-500:  hsl(28, 100%, 52%);

  --color-blue-500: hsl(233, 67%, 56%);
  --color-blue-700: hsl(248, 70%, 36%);

  --font-bricolage: Bricolage Grotesque

}

@layer components {
  .text-preset-1 {
    font-size: 96px;
    line-height: 100%;
    letter-spacing: -2px;
    font-weight: 600;
    font-style: italic;
  }
  .text-preset-2 {
    font-size: 52px;
    line-height: 120%;
    font-weight: 700;
  }
  .text-preset-3 {
    font-size: 32px;
    line-height: 100%;
    font-weight: 300;
  }
  .text-preset-4 {
    font-size: 28px;
    line-height: 120%;
    font-weight: 700;
  }
  .text-preset-5 {
    font-size: 20px;
    line-height: 120%;
    font-weight: 600;
  }
  .text-preset-5-med {
    font-size: 20px;
    line-height: 120%;
    font-weight: 500;
  }
  .text-preset-6 {
    font-size: 18px;
    line-height: 120%;
    font-weight: 500;
  }
  .text-preset-7 {
    font-size: 16px;
    line-height: 120%;
    font-weight: 500;
  }
  .text-preset-8 {
    font-size: 14px;
    line-height: 120%;
    font-weight: 500;
  }

  .btn-primary {
    background-color: var(--color-blue-500);
    border-radius: 0.75rem;
    padding-block: 1rem;
    padding-inline: 1.5rem;
    cursor: pointer;

    &:focus {
        outline-offset: 3px;
        outline-color: var(--color-blue-500);
        outline-style: var(--tw-outline-style);
        outline-width: 2px;
    }

    &:hover {
        @media (hover: hover) {
            background-color: var(--color-blue-700);
        }
    }
  }
  .btn-secondary {
    background-color: var(--color-neutral-800);
    border-radius: 0.75rem;
    padding-block: 1rem;
    padding-inline: 1.5rem;
    cursor: pointer;

    &:focus {
        outline-offset: 3px;
        outline-color: var(--color-neutral-600);
        outline-style: var(--tw-outline-style);
        outline-width: 2px;
    }

    &:hover {
        @media (hover: hover) {
            background-color: var(--color-neutral-600);
        }
    }
  }
}

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}